/* ~~ Common overlay styles ~~ */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body.contextly-overlay {
  min-width: 800px;
}

body.contextly-overlay,
body.contextly-overlay input,
body.contextly-overlay label,
body.contextly-overlay button,
body.contextly-overlay select,
body.contextly-overlay textarea,
body.contextly-overlay .btn {
  font-size: 13px;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.input-prepend.inline,
.input-append.inline {
  margin-bottom: 0;
}

.input-append .btn.active,
.input-prepend .btn.active {
  border-color: #b3b3b3;
}

.progress-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #363636 url('../img/ajax-loader.gif') no-repeat center center;
  background-color: rgba(54, 54, 54, .8);
}

.modal-header h3 {
  font-size: 18px;
  line-height: 24px;
}

.modal-backdrop {
  background: #363636;
}

/* ~~ Inline URL preview ~~ */
.url-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: white;
}

.url-preview-frame-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 30px;
}

.url-preview-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.url-preview-toolbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #cccccc;
  padding-top: 2px;
}

.url-preview-link {
  float: left;
  line-height: 22px;
}

.url-preview-buttons {
  text-align: right;
}

/* ~~ Search results ~~ */
.search-tab.right {
  float: right;
}

.search-results {
  display: block;
  padding: 0;
  margin: 0;
}

.search-result {
  display: table;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px dashed #dddddd;
}

.search-result .cell {
  display: table-cell;
  padding: 5px;
}

.search-result-action-wrapper {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.search-result-title {
  font-weight: bold;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}

.search-result-description {
  margin-bottom: 5px;
}

.website-link:hover {
  text-decoration: none;
}

.website-link:hover .website-url {
  text-decoration: underline;
}

.search-sidebar-link:hover {
  text-decoration: none;
}

.search-sidebar-link:hover .search-sidebar-link-title {
  text-decoration: underline;
}

.search-sidebar-content {
  margin: 0;
  list-style-type: none;
  display: block;
}

.btn.search-sidebar-add-single {
  vertical-align: baseline;
}

/* ~~ Editor components ~~ */
.widget-title {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
}

.section-title {
  line-height: normal;
  font-size: 16px;
  font-weight: bold;
}

.section-links {
  display: block;
  margin: 0;
  padding: 0;
}

.section-link {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
  position: relative;
}

.sortable-placeholder {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
  outline: 1px dashed #d3d3d3;
}

.link-title {
  margin-left: 25px;
  margin-right: 30px;
}

.link-progress-indicator {
  height: 48px;
  background: url('../img/ajax-spinner.gif') center center no-repeat;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  cursor: progress;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25px;
  background: #cccccc url('../img/link-handle.png') no-repeat center center;
  cursor: move;

  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.remove-link,
.test-link {
  position: absolute;
  right: 0;
  width: 30px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.remove-link:hover,
.test-link:hover {
  text-decoration: none;
}

.remove-link {
  top: 0;
}

.test-link {
  top: 25px;
}

.section-link .link-title-editor {
  resize: vertical;
  margin: 0;
  width: 95%;
  height: 40px;
  min-height: 40px;

  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
}

.dialog-actions {
  text-align: right;
}

.sidebar-title {
  width: 95%;
}

.sidebar-description {
  width: 95%;
  resize: vertical;
  min-height: 40px;
}

.sidebar-result {
  margin-top: 10px;
}
