img.mce-contextly-sidebar {
  border: 1px dotted #cc0000;
  background-color: #ffffcc;
  height: 100px;
}

img.mce-contextly-sidebar-loading,
img.mce-contextly-sidebar-broken {
  display: none;
}

img.mce-contextly-sidebar-left {
  width: 50%;
  float: left;
  margin-right: 10px;
}

img.mce-contextly-sidebar-right {
  width: 50%;
  float: right;
  margin-left: 10px;
}

img.mce-contextly-sidebar-wide {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
